# ----------------------------
# Node / JavaScript / General
# ----------------------------

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and output
coverage
*.lcov
.nyc_output

# Compiled libs, build artifacts
lib-cov
build/
dist/
out/

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Cache and lock files
.npm/
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_*
.cache/
.parcel-cache/
.yarn/
.pnp.*
.yarn-integrity

# REPL and test output
.node_repl_history
*.tgz
*.tsbuildinfo

# dotenv files
.env
.env.*
!.env.example

# VSCode
.vscode-test

# ----------------------------
# React Native
# ----------------------------

# React Native packager
.expo/
.expo-shared/
*.expo
*.expo.*

# React Native build output
*.keystore
*.jks

# Metro bundler
metro-cache/
haul-cache/

# Android/Gradle
android/.gradle/
android/.idea/
android/.cxx/
android/local.properties
android/app/build/
android/build/
android/gradle/
android/gradlew
android/gradlew.bat

# Ignore intermediate C/C++ build artifacts
**/intermediates/
**/obj/
**/libs/
**/jniLibs/
**/ndk/
**/cxx/

# Ignore .so native binaries
*.so

# Ignore Android Release and Debug builds
**/Debug/
**/Release/

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/

# Docusaurus / Vuepress / Gatsby
.docusaurus/
.vuepress/dist/
.temp/

# Serverless
.serverless/

# FuseBox
.fusebox/

# Others
.tern-port
.dynamodb/
